<%- include("partials/header")-%>


    <div>
        <h1>Contact</h1>
    </div>

    <div>
        <p>
            <%= contactCreateContent %>
        </p>
    </div>



    <%- include("partials/footer")-%>