<!-- calling in the header.ejs template file -->
<%- include("header")-%>

    <h2>This is the about page</h2>
    <p> aiajsn wiwmwksm wimws xk wom windjwkdbnw dwiwi</p>

    <!-- calling in the footer.ejs template file -->
    <%- include("footer")-%>